<div class="scrollSnap-prompt"> 
	{{#if scrollText}}<div class="scrollSnap-prompt-text">{{scrollText}}</div>{{/if}}
	<button class="scrollSnap-prompt-button">
		<div class="icon icon-chevron-with-circle-down" />
	</button>
</div>
